@import 'bourbon/bourbon';

@import 'variables';

@import 'colors.lib';
@import 'bootstrap';

@import 'typo.lib';
@import 'icons';

@import 'layout';
@import 'components';

body {
  background-color: $blue;
}
// BOOTSTRAP OVERRIDES
section.slogan {
  background: {
    image: url('/assets/img/mood_bg.jpg');
    position: top center;
    size: cover;
    repeat: no-repeat;
  }
  h1 {
    margin: 100px 0;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    letter-spacing: 1px;
    > span {
      font-size: .625em;
      font-weight: 400;
      
    }
  }
}
section.stores {
  background: $blue;
  min-height: 250px;
  position: relative;
  padding-top: 2em;
  padding-bottom: 2em;
  > .container > .row { position: relative; }
  .store-buttons {
    text-align: center;
  }
  .app-preview {
    max-width: 100%;
  }
}
section.features {
  background: white;
  padding: 2em 0;
}
section.socialmedia {
  background: $blue;
  text-align: center;
  position:relative;
  .brand {
    position: initial;
    margin: 2em 2em 4em;
    display: block;
  }
  .btn {
    margin: 2em 0;
  }
}


// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) {
  body {
    font-size: $font-size-big;
  }
  section.slogan {
    h1 {
      font-size: 1.25em;
      line-height: 1em;
      margin: 50% 0 50%;
      letter-spacing: 2px;
    }
  }
  section.stores {
    min-height: 200px;
    .store-buttons {
      position: absolute;
      top: 2em;
      right: 0;
      padding: 0;
    }
    .app-preview {
      margin-top: -350px;
      max-width: 135%;
      margin-left: -60px;
    }
    .btn.btn-store {
      font-size: .9em;
      margin-right: 0;
      min-width: 160px;
    }
    .btn-store.btn-apple>i.icon {
      top: 0.03em;
    }
  }
  section.socialmedia {
    padding-bottom: 2em;
    .brand {
      position: absolute;
      top: 2em;
      left: 0;
      margin: 0;
    }
    .btn {
      margin: 2.5em 0 4em;
    }
  }
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md) {
  section.slogan {
    h1 {
      margin: 250px 0 200px;
      font-size: 1.75em;
    }
  }
  section.stores {
    min-height: 200px;
    .store-buttons {
      padding-top: 0em;
      position: initial;
    }
    .app-preview {
      margin-top: -470px;
      max-width: 130%;
      margin-left: -70px;
    }
    .btn.btn-store {
      font-size: 1.2em;
    }
    .btn-store>i.icon {
      top: 0.08em;
    }
    .btn-store.btn-apple>i.icon {
      top: 0.02em;
    }
  }
}

// Large devices (large desktops, 1200px and up)
@media (min-width: $screen-lg) {
  section.slogan {
    h1 {
      margin: 330px 0 220px;
      font-size: 2em;
    }
  }
  
  section.stores {
    .store-buttons {
      text-align: right;
    }
    .app-preview {
      margin-top: -585px;
    }
    .btn.btn-store {
      font-size: 1.4em;
      margin-left: 1.5em;
    }
  }
}